@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

:root {
    --opacity: 1;
    --circle-background-color: 229 231 235;
    --tablePadding: .9rem 1.25rem;
    --tableWidth: 100%;
    --versionMarginTop: 35%;
}

body {
    font-family: Roboto;
}

.container {
    margin-top: 1%;
    justify-content: center;
    width: var(--tableWidth);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.teams-list {
    vertical-align: top;
    text-align: left;
    width: 25%;
}

.no-bullet-list {
    list-style: none;
    margin-left: -20px;
}

.region {
    margin-bottom: -10px;
    text-decoration: underline;
}

.draft-table, .draft-table td, .draft-table th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 320px) { 
    :root {
        --tablePadding: .2rem;
    }
}

@media (min-width: 400px) { 
    :root {
        --tablePadding: .5rem;
    }
}

@media (min-width: 768px) { 
    :root {
        --tablePadding: .9rem 1.25rem;
        --versionMarginTop: 28%;
    }
}

@media (min-width: 1200px) { 
    :root {
        --tablePadding: .9rem 1.25rem;
        --tableWidth: 50%;
        --versionMarginTop: 25%;
    }
    .container {
        margin-left: 25%;
        margin-right: 25%;
    }
}